
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.header{
    width: 100%;
    height: auto;
    background-color:  #ED4C5C;
    padding-top: 94px;
    padding-bottom: 95px;
}
.container{
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}
.header_inner{
    display: flex;
    justify-content: flex-start;
}
.header_text{
    margin-right: 81px;
}
.header__title{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    width: 445px;
    height: 107px;
    margin-bottom: 24px;
    padding-top: 22px;
}
.header__text_inner{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
    width: 445px;
    height: 64px;
    margin-bottom: 40px;
}
.header_icons{
    width: 134px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider_box{
    height: auto;
    object-fit: contain;
    overflow: hidden;
}
.header_img{
    max-width: 533px;
}


.contact{
    width: 100%;
    background: #FFFFFF;
}
.contact_inner{
    display: flex;
    justify-content: space-between;
}
.contact_text{
    margin-top: 117px;
    margin-bottom: 268px;
    margin-right: 114px;
    max-width: 445px;
    height: 160px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact_title{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}
.contact_text_inner{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
    max-width: 434px;
    height: 64px;
}
form{
    max-width: 540px;
    height: 305px;
    margin-top: 117px;
    margin-bottom: 123px;
}
select, 
input[type=text]{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    padding:21px 0px 20px 31px;
}
select {
    background: url(img/erow_downsvg.svg) no-repeat right #FFFFFF;
    -webkit-appearance: none; 
    background-position-x: 95%;
    color: rgba(19, 39, 67, 0.5);
}
select > option{
    padding:21px 0px 20px 31px;
}
.first_name{
    margin-right: 26px;
}
.first_name,
.second_name{
    width: 255px;
    height: 60px;
    margin-bottom: 24px;
}
.select_service,
.phone_number{
    width: 100%;
}
.phone_number{
    margin-bottom: 24px;
}
.select_service{
    margin-bottom: 27px;
    padding-right: 26px;
}
.submit_button{
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;
    max-width: 160px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 33px;
    cursor: pointer;
}

footer{
    background: #FAFAFA;
}
.footer_inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 86px;
    padding-top: 85px;
}
h3{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}
.addres_title,
.touch_title,
.support_title {
    margin-bottom: 33px;
}
.services_title{
    margin-bottom: 28px;
}
.addres_text{
    margin-bottom: 141px;
    height: 54px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}
.copyright{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
    }
li{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;
    color: #000000;
}
.mail{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
    margin-bottom: 11px;
}
.phone{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #121212;
    margin-bottom: 22px;
}
.contact_icons{
    max-width: 66px;
    display: flex;
    justify-content: space-between;
}
.support_column img {
    max-width: 216px;
    height: 31px;
}
